<h2>About</h2>
<h3>We are The Poughkeepsie Pushers. We've seen some sh*t. Once we scraped by, selling illicit substances for hard-earned cash on the sad streets of Poughkeepsie... Now we're all 1+ years clean, we've reformed our reckless ways, and we've found a renewed sense of self in our love for baseball.</h3>
<h3>We may be a batch of misfits, but you'd be surprised what a bunch of drunks and drug-addicts can do when we unite for a common cause.  While we used to destroy our bodies and minds, our new cause is to destroy you and your compatriots on the ballfield.  Play Ball!</h3>
