<div *ngIf="addingNewMessage===false">
  <button class="btn" (click)="showAddMessageForm()">Add Message</button>
</div>
<div *ngIf="addingNewMessage===true">
  <div class="well flex-container">
    <div class="form-group flex-item">
      <select #newAuthor>
        <option *ngFor="let player of players | async" value="{{player.name}}">{{player.name}}</option>
      </select>
      <!-- <input #newAuthor placeholder=" Author"> -->
    </div>
    <div class="form-group flex-item">
      <input #newContent placeholder=" Message">
    </div>
    <input type="hidden" #newDate value="timestamp">
    <button class="btn flex-item" (click)="submitForm(newAuthor.value, newContent.value, newDate.value);
    newAuthor.value='';
    newContent.value='';
    newDate.value=''">Add Message</button>
  </div>
</div>

<br>

<div *ngFor="let message of messages | async | reverse">
  <div class="panel panel-default">
    <div class="panel-body">
      {{message.content}}
    </div>
    <div class="panel-footer">
      {{message.author}} | {{message.date}} <span *ngIf="currentRoute === '/admin'">| <button class="btn" (click)="beginDeletingMessage(message)">Delete</button></span>
    </div>
  </div>
</div>
