<div class="container wrapper">
  <div class="jumbotron">
    <h1 routerLink=''>{{title}}</h1>
    <h3>
      <a class="text-muted" routerLink="about">
        <img width="50px" src="http://app.medicationreminderapp.com/img/medicationIcon.png" alt="Illustration of a pill"/>
        About
      </a>
    </h3>
  </div>
  <router-outlet></router-outlet>
  <div class="push"></div>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
