img {
  display: block;
  margin: auto;
  border-radius: 10px;
  max-width: 55%;
}

img.profile {
  max-width: 100%;
  border-radius: 10px;
  max-height: 90px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.flex-item {
  /*border: 2px solid black;*/
  margin: 10px;
  min-width: 250px;
  max-width: 300px;
  word-break: normal;
}

.panel-heading {
  text-align: center;
  font-family: "Rock Salt", cursive;
  cursor: pointer;
}

button,
input {
  font-family: "Rock Salt", cursive;
}

input {
  border-radius: 5px;
}

#player-icon {
  max-width: 30px;
  margin-bottom: 20px;
}

.panel {
  max-height: 1500px;
  overflow: hidden;
}

#float-button-right {
  float: right;
}

.player-detail {
  cursor: pointer;
}
/*font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Rock Salt', cursive;*/
